#!/usr/bin/bash

protocol=WPC-6605 #Dombax proto
meson_mr_root=/disk/mace2/scan_data/${protocol} #location of protocol directory on meson
meson_mb_root=${meson_mr_root}/multiband #location of reconstructed MB data on meson
loc_root=/Volumes/bek/alexreversal #local root directory for project
loc_mrraw_root=${loc_root}/fromsmash #local dicom sync directory
loc_mb_root="" #multiband rsync directory...Ask about this!
loc_mrproc_root="" #where preprocessed data is stored, else it will be in subject's loc_mmraw_root
#meson_subid_regex="${meson_mr_root}/.*/[[:digit:]]{4}\.[[:digit:]]{2}\.[[:digit:]]{2}-[[:digit:]]{2}\.[[:digit:]]{2}\.[[:digit:]]{2}" #Example here: 2013.05.12-12.33.59
meson_subid_regex="${meson_mr_root}/.*[[:digit:]]{4}\.[[:digit:]]{2}\.[[:digit:]]{2}-[[:digit:]]{2}\.[[:digit:]]{2}\.[[:digit:]]{2}" #Example here: 2013.05.12-12.33.59 remove slash
mb_regex=""
mr_regex="MoCoSeries_*"
preprocessed_dirname="mni_3mm_smoothk_8" #needs to be changed
mprage_dirpattern="mprage1" #needs to be filled out
task_name=discount #Name of the task that was ran
paradigm_name="discount"
func_run_number=4 #Number of scans taken during the run
n_expected_funcruns=4 #how many functional runs are expected per subject. Used to skip out of completed subjects

#if gre_fieldmap_dirpattern is defined, script will look for two fieldmap directories (phase and magnitude) and incorporate into preprocessing
gre_fieldmap_dirpattern="" #WILL HAVE TO CHANGE?
fieldmap_cfg="" #config file for fieldmap processing (see preprocessFunctional for details) <-CHANGE!!

#preprocessFunctional call to be used (only the part that does not vary across subjects).
#Do not include any information here about -4d (the input), -mprage_bet or -warpcoef (varies by subject), or -fm_phase, -fm_magnitude, or fm_cfg.
#make sure this is a quoted string! Can use backslashes to separate call across lines (within quotes).
preproc_call="-delete_dicom archive -slice_acquisition interleaved -tr 1.25 -mc_program mcflirt -mc_first -motion_sinc y -wavelet_despike -smoothing_kernel 8 -hp_filter 100 -cleanup"

#need to export these environment variables to be accessible in R
export protocol meson_mr_root meson_mb_root loc_root loc_mrraw_root loc_mrproc_root loc_mb_root \
    meson_subid_regex mprage_dirpattern preprocessed_dirname paradigm_name n_expected_funcruns \
    preproc_call gre_fieldmap_dirpattern fieldmap_cfg

